* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    object-fit: contain;
   
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
}

/* Product Grid Styles */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
   
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
   
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: #b12704;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (min-width: 10px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}